<div class="natalia-widget natalia-widget-related-posts">
  <p class="natalia-widget-title">Veja mais posts</p>
  <ul class='natalia-post-options-related-list natalia-post-options-related-list-sidebar'>
    <li class='natalia-post-options-related-item'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/202x134' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título de post relacionado</span>
      </a>
    </li>
    <li class='natalia-post-options-related-item'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/202x134' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título de post relacionado</span>
      </a>
    </li>
    <li class='natalia-post-options-related-item'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/202x134' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título de post relacionado</span>
      </a>
    </li>
    <li class='natalia-post-options-related-item'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/202x134' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título grande para um post relacionado aos posts apresentados</span>
      </a>
    </li>
  </ul>
</div> 