<div class="natalia-widget p-text-align-center" itemscope itemtype="http://schema.org/Person">
  <img src='http://s23.postimg.org/oe0c5ionf/natalia.jpg' class='natalia-avatar natalia-avatar-circle'/>
    <h3 class="natalia-widget-title p-margin-bottom-0" itemprop="name">
      <span class='p-display-inline'>Natalia Santos</span>
    </h3>
    <span class='p-display-inline'>é apaixonada por música, cultura pop, literatura.</span>

  <p class="social-icons">
      <a itemprop="url" href="" class="social-icon-link" title="Facebook">
        <i class="fa fa-facebook social-icon"></i>
      </a>
      <a itemprop="url" href="" class="social-icon-link" title="Instagram">
        <i class="fa fa-instagram social-icon"></i>
      </a>
      <a itemprop="url" href="" class="social-icon-link" title="Pinterest">
        <i class="fa fa-pinterest social-icon"></i>
      </a>
      <a itemprop="url" href="" class="social-icon-link" title="Youtube">
        <i class="fa fa-youtube social-icon"></i>
      </a>
        <a itemprop="url" href="" class="social-icon-link" title="Flickr">
            <i class="fa fa-flickr social-icon"></i>
        </a>
  </p>
 </div>