<div class="natalia-nav">
	<nav>
	    <div class="natalia-nav-container">
			<ul class="natalia-nav-menu">
				<li class="natalia-nav-menu-item">
					<a class='natalia-nav-menu-link' href="/" title="voltar para home">
						<i class="fa fa-home natalia-nav-menu-link-icon"></i>
					</a>
				</li>
				<li class="natalia-nav-menu-item">
					<a class='natalia-nav-menu-link' href="/" title="Sobre o blog">
						<span>Decoração</span>
					</a>
				</li>
				<li class="natalia-nav-menu-item">
					<a class='natalia-nav-menu-link' href="/" title="Sobre o blog">
						<span>Moda</span>
					</a>
				</li>
				<li class="natalia-nav-menu-item">
					<a class='natalia-nav-menu-link' href="/" title="Sobre o blog">
						<span>Música</span>
					</a>
				</li>
				<li class="natalia-nav-menu-item">
					<a class='natalia-nav-menu-link' href="/" title="Sobre o blog">
						<span>Literatura</span>
					</a>
				</li>
				<li class="natalia-nav-menu-item">
					<a class='natalia-nav-menu-link' href="/contato" title="Sobre o blog">
						<span>Contato</span>
					</a>
				</li>
	            <span class='input-box input-box-small natalia-nav-menu-action tooltip tooltip-bottom' aria-label="Receba nossas novidades. Digite seu email.">
	              <input type='text' placeholder="meunome@email.com.br" class='input-box-input'>
	              <i class="fa fa-envelope-o input-box-icon"></i>
	            </span>
			</ul>
	    </div>
	</nav>
	<div class='natalia-nav-overlay u-show-tablet'></div>
</div>