<div>
	<nav ng-class="{ 'header-navigation': vc.vm.isOpen, 'header-navigation--is-hidden': !vc.vm.isOpen}">
		<ul class="header-navigation__list">
			<li class="header-navigation__list__item--mobile-divisor">
				<p href="" class="header-navigation__list__item__link">Principais categorias</p>
			</li>
			<li class="header-navigation__list__item--featured">
				<a ui-sref="home" class="header-navigation__list__item__link">
					<i class="fa fa-home"></i>
				</a>
			</li>	
			<li class="header-navigation__list__item">
				<a href="" class="header-navigation__list__item__link">Dicas de livros</a>
			</li>
			<li class="header-navigation__list__item">
				<a href="" class="header-navigation__list__item__link">Moda &amp; Look do dia</a>
			</li>
			<li class="header-navigation__list__item">
				<a href="" class="header-navigation__list__item__link">Dicas de filmes</a>
			</li>
			<li class="header-navigation__list__item">
				<a href="" class="header-navigation__list__item__link">Decoração</a>
			</li>
			<li class="header-navigation__list__item">
				<a href="" class="header-navigation__list__item__link">Estilo de vida</a>
			</li>
			<li class="header-navigation__list__item--mobile-divisor u-show-tablet">
				<p class="header-navigation__list__item__link">Mais informações</p>
			</li>			
			<li class="header-navigation__list__item u-show-tablet">
				<a href="" class="header-navigation__list__item__link">Contato</a>
			</li>
			<li class="header-navigation__list__item u-show-tablet">
				<a href="" class="header-navigation__list__item__link">Parceria para blogs</a>
			</li>
			<li class="header-navigation__list__item u-show-tablet">
				<a href="" class="header-navigation__list__item__link">Anuncie aqui</a>
			</li>
		</ul>
	</nav>
	<div ng-class="{'header-navigation__transparent-overlay--is-open': vc.vm.isOpen, 'header-navigation__transparent-overlay': !vc.vm.isOpen}" ng-click="vc.closeHeaderNavigation()"></div>
</div>