<div class="natalia-widget natalia-widget-links">
  <p> <strong>O que eu ia falar?</strong> 2014 - 2016. Todos os direitos reservados. </p>
    <ul class='site-links'>
        <li class='site-links-item'><a href="" class='site-link'>sobre</a></li>
        <li class='site-links-item'><a href="" class='site-link'>contato</a></li>
        <li class='site-links-item'><a href="" class='site-link'>anuncie aqui</a></li>
        <li class='site-links-item'><a href="" class='site-link'>parcerias para blogs</a></li>
        <li class='site-links-item'><a href="" class='site-link'>midia kit</a></li>
    </ul>
</div>