<ul class="social-list u-hide-tablet">
  <li class="social-item">
    <a href="" class="social-link tooltip tooltip-top" aria-label="Facebook">
      <i class="fa fa-facebook-official"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link tooltip tooltip-top" aria-label="Instagram">
      <i class="fa fa-instagram"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link tooltip tooltip-top" aria-label="Pinterest">
      <i class="fa fa-pinterest-square"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link tooltip tooltip-top" aria-label="Twitter">
      <i class="fa fa-twitter-square"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link tooltip tooltip-top" aria-label="Google +">
      <i class="fa fa-google-plus-square"></i>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link tooltip tooltip-top" aria-label="Youtube">
      <i class="fa fa-youtube-square"></i>
    </a>
  </li>
</ul>